@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-header-text: #15f86c;
  --color-main-text: #e0ffff;
  --color-background-header: #fff;
  --color-background-main: #24282f;
  --color-background-card: #3c3e44;

  /* FONT */
  --font-family-headline: "Roboto Mono", monospace;
  --font-family-text: "Lato", sans-serif;

  /* BORDERS */
  --border-radius: 15px;
}

body {
  font-family: var(--font-family-text);
  margin: 0;
  background-color: var(--color-background-main);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
}

.header {
  background: url(/assets/pickle-rick.png);
  color: var(--color-background-main);
  text-align: center;
  padding: 4rem 2rem;
}

.header h1 {
  background-color: var(--color-background-header);
  padding: 0 2rem;
  display: inline-block;
}

.main {
  background-color: var(--color-background-main);
  color: var(--color-main-text);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  place-items: center;
  align-content: center;
  justify-content: center;
  align-items: end;
}
