.characterCard {
  background: var(--color-background-card);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.characterImage {
  height: 100%;
  width: 100%;
}

.characterInfo {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.circleStatus {
  background-color: greenyellow;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 5px;
}
